@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import "bulma";
@import "pages/home";

body {}
main {}
strong { font-weight: 600; }

.header {
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__side {
    display: flex;
    align-items: center;
    &--left {}
    &--right {}
  }
  &__logo {
    @extend .mr-6;
    img {
      height: 30px; width: auto;
      transform: translateY(-1px);
    }
  }
  &__nav {
    &--item {}
  }
}

.footer {
  @extend .has-text-grey;
  padding: 2.2rem 0;
  font-size: .8em;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.error404 {
  #app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 12rem;
      font-weight: 800;
    }
  }
}
